#
# Exclusiones
#

# archivos de configuración
application/config.inc.php
application/db.inc.php
application/sessions/
application/files/

# archivos generados por el sistema
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
*~

#
# Inclusiones
#

!application/sessions/
!application/files/
