body {
    font: 10pt verdana;
}

div#encabezado {

}

div#encabezado {
    text-align: center;
    font: 20pt arial;
}

div#navegacion {
    background: #cec;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

div#contenido {
    margin: auto;
    padding: .5em 1em .5em 1em;
    max-width: 800px;
}

div#archivos div.archivo {
    display: block;
}

div#archivos div.archivo:hover {
    background: #6cf;
    cursor: pointer;
}

div#mensajes {
    background: #afa;
}

div#pie {
    text-align: center;
}
