/* Navegación */
div#navegacion ul#nav {
    margin: 0;
    padding: 0;
}

div#navegacion ul#nav li {
    list-style: none;
    display: inline;
    margin: 0;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0;
}

div#navegacion ul#nav a {
    color: #03f;
    font-weight: bold;
    text-decoration: none;
}
